// Dependency imports

$family-sans-serif: 'Barlow', system-ui, sans-serif;
$body-size: 18px;

$modal-content-width: 900px;

@import '@cityssm/bulma-a11y/bulma-a11y';

.modal-card {
  max-width: 100%;
}

#is-login-page {
  min-height: 100vh;
  background-image: url('../images/login.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-burger span {
  height: 2px;
}

#container--results .panel {
  background-color: $white;

  .panel-block {
    transition: opacity 100ms;
  }

  &:hover .panel-block {
    opacity: 0.3;
  }

  .panel-block:hover {
    opacity: 1;
  }
}
